$black: black;
$grey: #9F9F9F;
$grey-shadow: #D1D1D1;
$grey-empty: #C4C4C4;
$grey-placeholder: #b0b0b0;


.grey-border {
    border-color: $grey-shadow;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    color: $grey-placeholder;
  }
  
  .display-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 70px;
  }
  