@import '../scss/_abstract';

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .search-header {
    @extend .display-flex-start-center;
    height: 70px;
    flex-direction: row;
    width: 500px;
    @media screen and (max-width: 768px) {
      width: 60%;
    }
    .logo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      align-self: center;
    }
    &-title {
      align-self: center;
      span {
        display: block;
      }
      &-color {
        &--black {
          color: $black;
        }
        &--grey {
          color: $grey;
        }
      }
    }
  }
  .search-container {
    @extend .display-flex-start-center;
    flex-direction: row;
  }

  .search-list {
    margin-top: 5px;
    width: 100%;
  }
}


@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
.progress-line {
  height: 3px;
  width: 30%;
  margin: 5px auto;
  background-color: #c4c4c4;
  display: -webkit-flex;
  display: flex;
  &:before {
    height: 3px;
    width: 100%;
    margin: 0;
    background-color: $grey;
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

.no-result {
  height: 500px;;
}